body {
  background-color: #24262b;
}
* {
  transition: all ease 0.2s;
}

.flex {
  display: flex;
}

p {
  color: #98a7b5;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 400;
}

p {
  margin: 0px!important;
}

.justify-space-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}

.body.body-toggle {
  padding-left: 80px;
}
.body {
  display: flex;
  flex-direction: column;
  padding-left: 280px;
}
.body-container {
  padding: 20px;
}

@media (max-width: 600px) {
  .body.body-toggle {
    padding-left: 0px;
  }
}